/* Project 3 Google Map Styling CSS
By Ethan McGarry
Written for ITMD-361-01
*/

.mapWrapper {
  width: 700px;
  height: 510px;
  background-color: #8A2BE2;
  border-radius: 1px;
  margin: 0 auto;
  overflow: hidden;
}

#map {
  width: 690px;
  height: 450px;
  background-color: #DCDCDC;
  margin: 30px auto;
}