/* Project 3 Google Map Styling CSS
By Ethan McGarry
Written for ITMD-361-01
*/

.mapWrapper {
  max-width: 700px;
  max-height: 500px;
  background-color: #8A2BE2;
  border-radius: 3px;
  margin: auto;
  overflow: hidden;
}

#map {
  max-width: 700px;
  max-height: 500px;
  background-color: #DCDCDC;
  margin: 15px auto;
  border-radius: 1px;
}