/* Project 3 Mobile Styling CSS
By Ethan McGarry
Written for ITMD-361-01
*/

@media only screen and (max-width: 400px) {
	/*Resume page styling*/
	.resumeHead {
		text-align: left;
		padding-left: 1%;
		color: #4B0082;
		font-weight: bold;
		font-size: 10px;
		text-transform: uppercase;
		font-family: 'Signika', sans-serif;
		line-height: 130%;
	}

	.resumeBody {
		font-family: Arial, sans-serif;
		padding-bottom: 3px;
		padding: 0px;
		line-height: 130%;
	}

	.resumeBody p {
		font-weight: bold;
		padding-left: 2%;
	}

	.resumeBody strong {
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 2px;
	}

	.resumeBody ul {
		padding-left: 3%;
		list-style-type: square;
		padding-bottom: 1px;
	}
}

	h1 {
	padding: 10px;
	font-size: 40px;
}

/*Mobile formatting for sandwich and bread pages*/
@media only screen and (max-width: 700px) { 
	/*Sandwich page styling*/
	.sandwichBody {
		font-family: Arial, sans-serif;
		padding-bottom: 3px;
		padding: 0px;
		line-height: 200%;
		text-align: center;
	}

	.sandwichBody p {
		font-weight: bold;
	}

	.sandwichBody ul {
		padding-left: 3%;
		list-style-type: square;
		padding-bottom: 3px;
	}

	.sandwichBody h3 {
		text-align: center;
		padding: 0px;
		color: #4B0082;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Signika', sans-serif;
	}

	.sandwichBody img iframe {
		max-width: 280px;
		height: auto;
	}

	/*Video Formatting, only on Sandwich page*/
	iframe {
		min-width: 280px;
		min-height: 151px;
	}

	/*Bread page styling*/
	.breadBody {
		font-family: Arial, sans-serif;
		padding-bottom: 3px;
		padding: 0px;
		line-height: 200%;
		text-align: center;
	}

	.breadBody p {
		font-weight: bold;
	}

	.sandwichBody ul {
		padding-left: 3%;
		list-style-type: square;
		padding-bottom: 3px;
	}

	.breadBody h3 {
		text-align: center;
		padding: 0px;
		color: #4B0082;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Signika', sans-serif;
	}

	.breadBody img {
		max-width: 303px;
		max-height: 404px;
	}

	/*Formatting for collection of bread images on mobile, move floats to one side*/
	#breadLeft {
		float: left;
		width: 50%;
	}

	#breadRight {
		float: left;
		width: 50%;
	}

	#breadLeft img { 
		width: 303px;
		max-height: 404px;
		padding: 5px 10px;
	}

	#breadRight img { 
		width: 303px;
		max-height: 404px;
		padding: 5px 10px;
	}
	
	h1 {
	padding: 10px;
	font-size: 40px;
}
}